<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
        <%= @name %>
        <%= @coach %>
        <%= @pg %>
        <%= @sg %>
        <%= @sf %>
        <%= @pf %>
        <%= @c %>
 </body>
</html>


